#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  /* text-align: center; */
}
.modal{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid lightgray;
  width: 400px;
  height: 250px;
  padding: 30px;
  background-color: azure;
}
.btns_delete_group{
  display: flex;
  width: 200px;
  height: 25px;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
}


.modal_wrapper{
  position: absolute;
  display: none;
  
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(32, 25, 25, 0.5);
}

.visibleModel{
  display: block;
  
}
.modal_to_change{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid lightgray;
  width: 600px;
  height: 350px;
  background-color: azure;
  padding: 10px;
}
.input_field{
  width: 550px;
  height: 30px;
}

.seminars{
  border: 2px solid lightgrey;
  margin-bottom: 20px;
}